/* styles/menu.css */

/* Small Green Circle for Color Menu Trigger */
#color-menu-trigger {
    margin-bottom: 1.5vh;
    cursor: pointer;
}

#color-circle {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background-color: #40FE5E;
    border: 2px solid #40FE5E;
}

/* Pop-up Menu Styles */
#popup-menu {
    background-color: transparent;
    border: 2px solid #40FE5E;
    border-radius: 15px;
    padding: 1.5vh 1vw;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    position: absolute;
    top: 3vh;
    z-index: 9999;
}

#popup-menu button {
    background-color: #000000;
    border: 2px solid #40FE5E;
    border-radius: 15px;
    color: #40FE5E;
    width: 10vw;
    height: 3vh;
    text-align: center;
    font-size: 1vw;
    cursor: pointer;
    box-shadow: 0 0 0.5vw #40FE5E;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

#popup-menu button:hover {
    background-color: #40FE5E;
    color: #000000;
    box-shadow: 0 0 1.5vw #40FE5E;
}

/* Hide element */
.hidden {
    display: none;
}

/* Styles for the color swatch menu */
#color-menu {
    background-color: #000000;
    border: 2px solid #40FE5E;
    border-radius: 10px;
    padding: 1vh;
    display: none;
    flex-wrap: wrap;
    gap: 1vw;
    position: absolute;
    z-index: 1000;
    width: 25vw;
}

.color-swatch {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0.5vw #40FE5E;
}

.color-swatch:hover {
    transform: scale(1.2);
    box-shadow: 0 0 1.5vw #40FE5E;
}
