/* styles/responsive.css */

/* Mobile-specific styles */
@media only screen and (max-width: 767px) {
    #mindmap-container {
        width: 100vw;
        height: 90vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #group-name-input {
        width: 80%;
        height: 2rem;
        font-size: 1rem;
    }

    #central-node {
        width: 70%; /* Reduced width on mobile */
        min-height: 12vh;
        padding: 10px;
        margin-bottom: 15px;
        font-size: 0.9rem;
    }

    .add-btn {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        /* Ensure there's a margin around the node */
        margin: 10px; /* This margin will create space between the plus buttons and the node */
    }

    #add-below-btn {
        bottom: -40px; /* Ensures the button is not overlapping */
        left: 50%;
        transform: translateX(-50%);
    }

    #add-left-btn {
        left: -45px; /* Ensures the button is not overlapping */
        top: 50%;
        transform: translateY(-50%);
    }

    #add-right-btn {
        right: -45px; /* Ensures the button is not overlapping */
        top: 50%;
        transform: translateY(-50%);
    }

    #reset-button {
        padding: 10px 20px;
        font-size: 1rem;
    }

    #popup-menu button {
        width: 80px;
        height: 25px;
        font-size: 12px;
        background-color: #000000;
    }

    textarea {
        font-size: 0.9rem;
    }
}
