/* styles/responsive.css */

/* Mobile-specific styles */
@media only screen and (max-width: 767px) {
    #mindmap-container {
        width: 90vw;
        height: 90vh;
        margin-top: 10px;
    }

    #group-name-input {
        width: 80%;
        height: 2rem;
        font-size: 1rem;
    }

    #central-node {
        width: 80%;
        min-height: 10vh;
        padding: 10px;
    }

    .add-btn {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }

    #add-below-btn {
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    #add-left-btn {
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
    }

    #add-right-btn {
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
    }

    #reset-button {
        padding: 10px 20px;
        font-size: 1rem;
    }

    #popup-menu button {
        width: 70px;
        height: 25px;
        font-size: 12px;
    }

    textarea {
        font-size: 0.9rem;
    }
}
